.appRp {
    /* position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto; */
}
.searchBox {
    margin-bottom: 8px;
}
.mainBox {
    padding: 8px;
}
.setBox {
    position: absolute;
    left: 35px;
    bottom: 80px;
}