.cont {
    width: 75%;
    max-width: 900px;
    min-width: 350px;
    margin: 0 auto;
    padding: 8px;
}
.navBox {
    display: flex;
}
.navBox > a {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 20px;
    padding: 8px;
    text-align: center;
}