/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.title {
    font-size: 32px;
}
.body {
    color: #333;
}
.footer {
    color: #999
}

.imageBox {
    width: 80%;
    margin: 0 auto;
}
.img {
    width: 30%;
    margin: 5px 8px;
}
.header {
    width: 80%;
    margin: 0 auto;
}
.search-input {
    width: 80%;
}
.search-button {
    width: 15%;
    margin-right: 10px;
}